* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.container {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
}
header .top {
  background-color: black;
  color: #e8e8e8;
  padding: 20px 0;
}
header .top ul.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .top ul.container li {
  padding: 0 10px;
}
header .top ul.container li i {
  color: blue;
  padding: 0 10px;
}
header .bottom {
  background-color: black;
  color: #e8e8e8;
  padding: 20px 0;
}
header .bottom ul.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
header .bottom ul.container li {
  padding: 0 10px;
  font-size: 25px;
}
header .jumbo {
  background-color: #f0ef84;
  padding: 20px 0;
}
header .jumbo div {
  display: flex;
  flex-direction: column;
}
header .jumbo div .jumbo-top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 50px;
  padding: 20px 0;
}
header .jumbo div .jumbo-viola {
  color: #ca41eb;
  padding: 20px 0;
  font-size: 20px;
}
header .jumbo div .jumbo-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}
header .jumbo div .jumbo-button .button-left {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 3px solid black;
}
header .jumbo div .jumbo-button .button-right {
  padding: 10px 20px;
  background-color: #f0ef84;
  color: black;
  border: 3px solid black;
  margin: 0 10px;
}

main {
  padding: 20px 0;
  background-color: #e8e8e8;
  text-align: center;
}
main .main-top {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .main-top div {
  width: 30%;
  background-color: white;
}
main .main-top div img {
  width: 100%;
}
main .main-top div h2 em {
  color: lightblue;
}

footer {
  background-color: #e8e8e8;
}
footer .footer-top .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer .footer-top .container ul {
  width: 25%;
  padding: 10px;
}
footer .footer-top .container ul li:first-of-type {
  font-weight: bold;
  padding: 5px;
}
footer .footer-top .container ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer-top .container .social {
  width: 100%;
}
footer .footer-top .container .social ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
footer .footer-top .container .social ul li i {
  padding: 0 10px;
  font-size: 30px;
}
footer .footer-top .container .social ul .fa-facebook-square {
  color: blue;
}
footer .footer-top .container .social ul .fa-instagram-square {
  color: violet;
}
footer .footer-top .container .social ul .fa-youtube {
  color: red;
}
footer .footer-top .container .social ul .fa-twitter-square {
  color: #0fb7d7;
}
footer .footer-bottom {
  background-color: black;
}
footer .footer-bottom .container {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e8e8e8;
}
footer .footer-bottom .container span {
  padding: 0 10px;
}
