* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

.container {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
}
header .top {
  background-color: black;
  color: #e8e8e8;
  padding: 20px 0;
}
header .top ul.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .top ul.container li {
  padding: 0 10px;
}
header .top ul.container li i {
  color: blue;
  padding: 0 10px;
}
header .bottom {
  background-color: black;
  color: #e8e8e8;
  padding: 20px 0;
}
header .bottom ul.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
header .bottom ul.container li {
  padding: 0 10px;
  font-size: 25px;
  position: relative;
}
header .bottom ul.container li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
header .bottom ul.container li:hover ul {
  display: flex;
}
header .bottom ul.container li ul {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 250%;
  display: none;
  flex-direction: column;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
header .bottom ul.container li ul li:hover {
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 5px;
}
header .jumbo {
  background-color: #f0ef84;
  padding: 20px 0;
}
header .jumbo div {
  display: flex;
  flex-direction: column;
}
header .jumbo div .jumbo-top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 50px;
  padding: 20px 0;
}
header .jumbo div .jumbo-viola {
  color: #ca41eb;
  padding: 20px 0;
  font-size: 20px;
}
header .jumbo div .jumbo-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}
header .jumbo div .jumbo-button .button-left {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 3px solid black;
}
header .jumbo div .jumbo-button .button-left:hover {
  cursor: pointer;
}
header .jumbo div .jumbo-button .button-right {
  padding: 10px 20px;
  background-color: #f0ef84;
  color: black;
  border: 3px solid black;
  margin: 0 10px;
}
header .jumbo div .jumbo-button .button-right:hover {
  cursor: pointer;
}

main {
  padding: 20px 0;
  background-color: #e8e8e8;
}
main h1 {
  text-align: center;
}
main .main-top {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .main-top div {
  width: 30%;
  background-color: white;
  padding-bottom: 20px;
}
main .main-top div img {
  width: 100%;
}
main .main-top div h2 em {
  color: lightblue;
}
main .main-top div h2 {
  padding: 20px;
}
main .main-top div p {
  padding: 20px;
}
main .main-top div a {
  padding: 20px;
}
main .main-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
main .main-bottom .box {
  width: 50%;
  height: 300px;
}
main .main-bottom .box-testo {
  padding: 20px;
  background-color: darkgrey;
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .main-bottom .box-testo a {
  padding: 10px 20px;
  background-color: white;
  color: black;
}
main .main-bottom .box-testo a:hover {
  cursor: pointer;
}
main .main-bottom .box-testo p {
  padding: 20px 0;
}
main .main-bottom .box-testo:first-of-type {
  background-color: #580a7c;
}
main .main-bottom .box-testo:nth-last-of-type(2) {
  background-color: #1b63d6;
}
main .main-bottom .box-immagine {
  background-image: url("https://www.painterartist.com/static/ptr/images/home/wacom.png");
  background-position: 50%;
  background-size: 160%;
}

footer {
  background-color: #e8e8e8;
}
footer .footer-top .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer .footer-top .container ul {
  width: 25%;
  padding: 10px;
}
footer .footer-top .container ul li:first-of-type {
  font-weight: bold;
  padding: 5px;
}
footer .footer-top .container ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer-top .container .social {
  width: 100%;
}
footer .footer-top .container .social ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
footer .footer-top .container .social ul li i {
  padding: 0 10px;
  font-size: 30px;
}
footer .footer-top .container .social ul .fa-facebook-square {
  color: blue;
}
footer .footer-top .container .social ul .fa-instagram-square {
  color: violet;
}
footer .footer-top .container .social ul .fa-youtube {
  color: red;
}
footer .footer-top .container .social ul .fa-twitter-square {
  color: #0fb7d7;
}
footer .footer-bottom {
  background-color: black;
}
footer .footer-bottom .container {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e8e8e8;
}
footer .footer-bottom .container span {
  padding: 0 10px;
}
